# Exclude build artifacts
target
out

# Exclude intermediate files for computing canister state,
# except `chunk_hashes.txt`.
bootstrap/bitcoin-*
bootstrap/output*
*.log
*.csv

# Exclude all hidden files and directories
.*
