# Various IDEs and Editors
.vscode/
.idea/
**/*~

target
.dfx
canister_ids.json
.canbench

*.wasm.gz

bootstrap/bitcoin-*
bootstrap/block_headers
bootstrap/canister_state*
bootstrap/chunk_hashes.txt
bootstrap/data*
bootstrap/unstable_blocks
bootstrap/utxodump*.csv
chunk_hashes.txt
