# Various IDEs and Editors
.vscode/
.idea/
**/*~

target
.dfx
canister_ids.json
.canbench

*.wasm.gz

bootstrap/data/
bootstrap/canister_state/
bootstrap/block_headers
bootstrap/canister_state.bin
bootstrap/unstable_blocks
bootstrap/chunk_hashes.txt
bootstrap/utxodump_shuffled.csv
bootstrap/utxodump.csv
chunk_hashes.txt
