[workspace]

members = [
    # Production crates
    "canister",
    "interface",
    "validation",

    # Crates for bootstrapping the state
    "bootstrap/state-builder",
    "bootstrap/uploader",

    # Crates used for testing only.
    "benchmarks",
    "e2e-tests/scenario-1",
    "e2e-tests/scenario-2",
    "e2e-tests/scenario-3",
    "e2e-tests/disable-api-if-not-fully-synced-flag",
    "test-utils",
    "watchdog/ic-http",
    "watchdog/ic-http/example_canister/src/canister_backend",
]
