[workspace]

members = [
    # Production crates
    "canister",
    "interface",
    "validation",
    "watchdog",

    # Crates for bootstrapping the state
    "bootstrap/state-builder",
    "bootstrap/uploader",

    # Crates used for testing only.
    "benchmarks",
    "e2e-tests/scenario-1",
    "e2e-tests/scenario-2",
    "e2e-tests/scenario-3",
    "e2e-tests/disable-api-if-not-fully-synced-flag",
    "test-utils",
    "ic-http",
    "ic-http/example_canister/src/canister_backend",
]

[workspace.dependencies]
bitcoin = "0.28.1"
byteorder = "1.4.3"
candid = "0.8.4"
ciborium = "0.2.1"
clap = { version = "4.0.11", features = ["derive"] }
futures = "0.3.28"
hex = "0.4.3"
ic-btc-canister = { path = "./canister" }
ic-btc-interface = { path = "./interface" }
ic-btc-test-utils = { path = "./test-utils" }
ic-btc-validation = { path = "./validation" }
ic-cdk = "0.7.4"
ic-cdk-macros = "0.6.10"
ic-http = { path = "./ic-http" }
ic-metrics-encoder = "1.0.0"
ic-stable-structures = "0.5.2"
serde = "1.0.171"
serde_bytes = "0.11"
serde_json = "1.0.94"
tokio = { version = "1.29.1", features = [ "full" ] }
