[workspace]

members = [
    "canister",
    "interface",

    # Crates used for development only.
    "bootstrap/state-builder",
    "bootstrap/uploader",
    "e2e-tests/scenario-1",
    "e2e-tests/scenario-2",
    "e2e-tests/scenario-3",
    "test-utils",
    "validation",
]

