[workspace]
# Exclude all packages by default
release = false
changelog_update = false
publish = false
git_release_enable = false
git_tag_enable = false

# Use cliff.toml for changelog generation
changelog_config = "cliff.toml"

# update dependencies with `cargo update`
dependencies_update = true

# creates the git release as draft
git_release_draft = true

# If true, creates the release PR as a draft.
pr_draft = true

# labels for the release PR
pr_labels = ["release"]

# disallow updating repositories with uncommitted changes
allow_dirty = false

# disallow packaging with uncommitted changes
publish_allow_dirty = false

# ----- Date-based releases (release/YYYY-MM-DD) -----
# Changelogs updated by release-plz, but version must be manually replaced
# with date format (e.g., release/2024-01-21) before merging the PR

[[package]]
name = "ic-btc-canister"
release = true
changelog_update = true
changelog_path = "canister/CHANGELOG.md"
semver_check = false # disable API breaking changes checks
publish = false # disable `cargo publish`
git_release_enable = false # handled separately in publish.yml
git_tag_enable = false # tags created manually

[[package]]
name = "watchdog"
release = true
changelog_update = true
changelog_path = "watchdog/CHANGELOG.md"
semver_check = false
publish = false # disable `cargo publish`
git_release_enable = false # handled separately in publish.yml
git_tag_enable = false # tags created manually

# ----- Semver-based releases (v0.x.x) -----

[[package]]
name = "ic-btc-interface"
release = true
changelog_update = true
changelog_path = "interface/CHANGELOG.md"
semver_check = true
git_release_enable = false # disable GitHub releases (crate only)
publish = true # enable `cargo publish`
git_tag_enable = true

[[package]]
name = "ic-btc-validation"
release = true
changelog_update = true
changelog_path = "validation/CHANGELOG.md"
semver_check = true
git_release_enable = false # disable GitHub releases (crate only)
publish = true # enable `cargo publish`
git_tag_enable = true
