[workspace]
# enable changelog updates
changelog_update = true

# update dependencies with `cargo update`
dependencies_update = true

# Enable git releases for all packages by default
git_release_enable = true

# Enable git tags for all packages by default
git_tag_enable = true

# creates the git release as draft
git_release_draft = true

# If true, creates the release PR as a draft.
pr_draft = true

# labels for the release PR
pr_labels = ["release"]

# disallow updating repositories with uncommitted changes
allow_dirty = false

# disallow packaging with uncommitted changes
publish_allow_dirty = false

# ----- Date-based releases (release/YYYY-MM-DD) -----

[[package]]
name = "ic-btc-canister"
changelog_path = "canister/CHANGELOG.md"
changelog_config = "cliff.toml"
semver_check = false # disable API breaking changes checks
publish = false # disable `cargo publish`
git_release_enable = false # handled separately in publish.yml
git_tag_enable = false # tags created manually

[[package]]
name = "watchdog"
changelog_path = "watchdog/CHANGELOG.md"
changelog_config = "cliff.toml"
changelog_include = ["watchdog/**"]
semver_check = false
publish = false # disable `cargo publish`
git_release_enable = false # handled separately in publish.yml
git_tag_enable = false # tags created manually

# ----- Semver-based releases (v0.x.x) -----

[[package]]
name = "ic-btc-interface"
changelog_path = "interface/CHANGELOG.md"
changelog_config = "cliff-semver.toml"
changelog_include = ["interface/**"]
semver_check = true
git_release_enable = false # disable GitHub releases (crate only)
publish = true # enable `cargo publish`

[[package]]
name = "ic-btc-validation"
changelog_path = "validation/CHANGELOG.md"
changelog_config = "cliff-semver.toml"
changelog_include = ["validation/**"]
semver_check = true
git_release_enable = false # disable GitHub releases (crate only)
publish = true # enable `cargo publish`
