[package]
name = "ic-btc-canister"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitcoin = {version = "0.28.1", features = ["use-serde"]}
candid = "0.8.1"
# NOTE: A specific commit of ciborium is used that includes efficient serializion/deserialization of
#       blobs. At the time of this writing, a new version including this commit hasn't yet been released.
ciborium = { git = "https://github.com/enarx/ciborium", rev = "e719537c99b564c3674a56defe53713c702c6f46" }
hex = "0.4.3"
ic-btc-interface = { path = "../interface" }
ic-btc-types = { path = "../types" }
ic-btc-validation = { path = "../validation" }
ic-cdk = "0.6.1"
ic-cdk-macros = "0.6.1"
ic-metrics-encoder = "1.0.0"
ic-stable-structures = "0.5.2"
lazy_static = "1.4.0"
serde = "1.0.132"
serde_bytes = "0.11"

[[bin]]
name = "ic-btc-canister"
path = "src/main.rs"

[dev-dependencies]
async-std = { version = "1.12.0", features = ["attributes"] }
bitcoin = {version = "0.28.1", features = ["rand"]} # needed for generating secp256k1 keys.
byteorder = "1.4.3"
ic-btc-test-utils = { path = "../test-utils" }
maplit = "1.0.2"
proptest = "0.9.4"
tempfile = "3.2.0"

[features]
file_memory = []
