[package]
name = "ic-btc-canister"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitcoin = {version = "0.28.1", features = ["use-serde"]}
byteorder = "1.4.3"
candid = "0.8.1"
# NOTE: A specific commit of ciborium is used that includes efficient serializion/deserialization of
#       blobs. At the time of this writing, a new version including this commit hasn't yet been released.
ciborium = { git = "https://github.com/enarx/ciborium", rev = "e719537c99b564c3674a56defe53713c702c6f46" }
hex = "0.4.3"
ic-btc-types = { git = "https://github.com/dfinity/ic", rev = "c905ede6e62f167994de24c8ccf7ee37a4d8ac67" }
ic-cdk = "0.6.1"
ic-cdk-macros = "0.6.1"
ic-stable-structures = { path = "../../../stable-structures" }
lazy_static = "1.4.0"
serde = "1.0.132"
serde_bytes = "0.11"

[[bin]]
name = "canister"
path = "src/main.rs"

[dev-dependencies]
async-std = { version = "1.12.0", features = ["attributes"] }
bitcoin = {version = "0.28.1", features = ["rand"]} # needed for generating secp256k1 keys.
ic-btc-test-utils = { git = "https://github.com/dfinity/ic", rev = "c905ede6e62f167994de24c8ccf7ee37a4d8ac67" }
maplit = "1.0.2"
proptest = "0.9.4"
tempfile = "3.2.0"
