[package]
name = "watchdog"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "watchdog-canister"
path = "src/main.rs"

[dependencies]
candid = { workspace = true }
ic-cdk = "0.7.4"
ic-cdk-macros = "0.6.10"
ic-cdk-timers = "0.1"
serde = { version = "1.0.158", features = [ "derive" ] }
serde_json = "1.0.94"
hex = "0.4.3"
async-trait = "0.1.67"
regex = "1.7.0"
futures = "0.3.27"
ic-http = {path = "../ic-http"}
serde_bytes = "0.11"
ic-metrics-encoder = "1.0.0"
ic-btc-interface = { path = "../interface" }

[dev-dependencies]
tokio = { version = "1.15.0", features = [ "full" ] }
assert-json-diff = "2.0.2"
