[package]
name = "benchmarks"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "benchmarks"
path = "src/main.rs"

[dependencies]
bitcoin = { workspace = true, features = ["use-serde"]}
hex = { workspace = true }
ic-btc-test-utils = { workspace = true }
ic-cdk = { workspace = true }
ic-cdk-macros = { workspace = true }
ic-btc-canister = { workspace = true }
ic-btc-interface = { workspace = true }
