name: Publish bitcoin canister crates to crates.io

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Run cargo publish with --dry-run"
        required: false
        type: boolean

jobs:
  publish:
    name: Publish bitcoin canister crates
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Required for OIDC token exchange

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Authenticate with crates.io
        id: auth
        uses: rust-lang/crates-io-auth-action@v1

      - run: echo "Preparing to cargo publish ${{ github.ref_name }}."

      - name: Publish ic-btc-interface to crates.io
        run: |
          if [ "${{ inputs.dryRun }}" = "true" ]; then
            cargo publish -p ic-btc-interface --dry-run
          else
            cargo publish -p ic-btc-interface
          fi
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      - name: Publish ic-btc-validation to crates.io
        run: |
          if [ "${{ inputs.dryRun }}" = "true" ]; then
            cargo publish -p ic-btc-validation --dry-run
          else
            cargo publish -p ic-btc-validation
          fi
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
